body {
    background-color: #1A202C;
    color: white;
  }

.colored {
    background-color: #A8DCFA;
}

.colored:hover{
    background-color: #c4e6fa;

}
i{
    cursor: pointer;
    color: #A8DCFA;
    font-size: large;
}
.conteiner{
    width: 500px !important;
}


  
